.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product {
  text-align: center;
  width: 270px;
  flex-direction: column;

  margin: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-style: solid;
}

.product img {
  width: 50%;
  height: auto;
}

.product h3,
.product p {
  margin: 10px 0;
}
.cont {
  background-color: white;
  width: 100%;
}
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
